export("assignDB")
export("chainFrags")
export("checkClass")
export("checkIntensityRules")
export("coelutingFrags")
export("ddaFrags")
export("combineChains")
export("createLipidDB")
export("assignDB")
export("crossTables")
export("dataProcessing")
export("findCandidates")
export("getInclusionList")
export("organizeResults")
export("idBAneg")
export("idCarpos")
export("idCEpos")
export("idCerneg")
export("idCerpos")
export("idDGpos")
export("idFAHFAneg")
export("idFAneg")
export("idLPCpos")
export("idLPCneg")
export("idLPEneg")
export("idLPEpos")
export("idLPGneg")
export("idLPIneg")
export("idLPSneg")
export("idMGpos")
export("idPCpos")
export("idPCneg")
export("idPEneg")
export("idPEpos")
export("idPGneg")
export("idPGpos")
export("idPIneg")
export("idPSneg")
export("idSMpos")
export("idSphpos")
export("idSphneg")
export("idSphPneg")
export("idSphPpos")
export("idTGpos")
export("idCLneg")
export("idNEG")
export("idPOS")
export("searchIsotopes")
export("LipidMSapp")
export("plotLipids")
import("shiny")
importFrom("CHNOSZ", "makeup")
importFrom("stats", "cor", "predict", "smooth.spline")
import("utils")
importFrom("graphics", "axis", "legend", "lines", "par")
importFrom("readMzXmlData", "readMzXmlFile")
importFrom("scales", "alpha")
importFrom("shinythemes", "shinytheme")
importFrom("grDevices", "dev.control", "dev.off", "pdf", "recordPlot")
useDynLib("LipidMS")
